body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.container {
  background-color: whitesmoke;
  padding: 1rem;
  width: 80%;
}

h1 {
  text-align: center;
}

.box-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3em;
}

.box-1 input {
  height: 1.8rem;
  font-size: 14px;
  border: 1px solid #333;
}

select {
  height: 1.8rem;

  flex-direction: column;
  padding: 0.3rem;
  background-color: rgb(231, 230, 230);
}
.box-2 {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 10px;
  width: 100%;
  background-color: green;
  color: white;
  padding: 0.3rem;
  border-radius: 4px;
  font-weight: 400;
}
